<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}ENT-facile{% endblock %}</title>
        <link rel="icon" type="image/svg+xml" href="{{ asset('images/ent-facile-logo.svg') }}">

        {% block stylesheets %}
        {% endblock %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/styles.css')}}">
        
        {% block javascripts %}
            {#{% block importmap %}{{ importmap('app') }}{% endblock %}#}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <main class="flex-grow-1">
            {% block body %}{% endblock %}
        </main>
        {% include('_partials/_footer.html.twig') %}
    </body>
</html>
